#workbenchPageContent {
  max-width: 100%;
}

.content_3f3fd3c2,
.CanvasZone {
  padding: 0 !important;

  max-width: 100% !important;
}

.report-style-class {
  height: 100vh;
}

.addBtnPosition {
  display: flex;
  justify-content: end;
  width: 100%;
  position: relative;
}
/* .addBtnPosition  */
.addBtn {
  position: absolute;
  top: 0;
  right: 0;
  /* transition: top 1s; */
  z-index: -1;
  background-color: #ededed;
  color: blue;
}
.imgBox_2:hover .addBtn {
  z-index: 0;
  top: 0px;
}
.parent {
  width: 24.99%;
  height: 300px;
  position: relative;
  overflow: hidden;
}
.imgBox {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: transform 0.5s cubic-bezier(0.1, 0.2, 0, 1);
}
.imgBox_2 {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;

  background-size: cover;
}
.parent:hover .imgBox {
  transform: scale(1.1);
}

[data-automation-id="CanvasLayout"]:has(.imgBox) > div > div {
  max-width: 100% !important;
}

[data-automation-id="CanvasLayout"]:has(.imgBox) > div > div .CanvasSection {
  padding: 0 !important;
}
[data-automation-id="CanvasLayout"]:has(.imgBox)
  > div
  > div
  .CanvasSection
  .ControlZone {
  padding: 0 !important;
}
[data-automation-id="pageHeader"] {
  display: none;
}
